.table_index {
    width: 100%;
    border-spacing: 1px;
    border-collapse: separate;
    border: 1px #D7D7D7 solid;
    background-color: white;
}

td.head {
    background-color: #f5dd5d;
}

.tr_index_1 {
    background: white;
}

.tr_index_2:nth-child(2n-1) {
  background: #c0c0c0;
}

body {
    background-color: #eeeeee;
}

.navbar {
    background-color: #eeeeee;
    margin-bottom: 0;
    min-height: 0;
    border: 0;
}

.container_navbar {
    padding: 5px;
    width: 100%;
    height: 30px;
}

.container_contacts {
    width: 250px;
    background-color: lightgray;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.container_comments_index {
    margin: 5px;
    padding-left: 0;
    padding-right: 0;
}

.container_comments {
    background-color: lightgray;
    margin: 5px;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
}

.container_contacts_text {
    margin: 5px;
}

.container_index_text {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    background-clip: content-box;
    background-color: white;
    border: 1px #D7D7D7 solid;
}

.container_board_index {
    margin: 0;
    width: 100%;
}

.container_thread_tooltip {
    margin: 0;
    padding: 10px;
}

.container_tittle_thread {
    margin: 0;
    width: 100%;
    padding-left: 0;
}

.board_center_text {
    text-align: center;
}

.link_color_all {
    color: orange;
}

.link_color_table {
    color: black;
    text-decoration: underline;
}

.link_color_img {
    color: orange;
    text-decoration: underline;
    font-size: smaller;
}

a.mainlogo {
    text-decoration: none;
    color: orange;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
}

hr {
    visibility: visible;
    color: black;
    width: 99%;
    height: 1px;
    background-color: black;
    margin-bottom: 10px;
    margin-top: 10px;
}

hr.index {
    width: 99%;
    margin-top: 0;
}

hr.board {
    width: 100%;
}

hr.comments {
    width: 97.7%;
}

hr.thread-nav_1 {
    margin-bottom: 5px;
}

hr.thread-nav_2 {
    margin-top: 5px;
}

a.menu {
    color: orange;
    text-decoration: underline;
    font-size: 90%;
}

p.text_container {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

a#js_thr_1 {
    cursor: pointer;
}

a#js_thr_2 {
    cursor: pointer;
}

.container-js_1 {
    display: none;
    padding-right: 33%;
    padding-left: 35%;
}

.container-js_2 {
    display: none;
    padding-right: 33%;
    padding-left: 35%;
}

.container-form_1 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.container-form_2 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.number-green {
    color: forestgreen;
}

.reply {
    color: black;
    cursor: pointer;
}

blockquote {
    padding-top: 5px;
    padding-left: 10px;
    border-left: 0;
    margin-bottom: 0;
    font-size: 1.1em;
}
.link-reply {
    color: orange;
    cursor: pointer;
}

.tooltip {
    background-color: lightgray;
    border-radius: 3px;
    position: absolute;
    z-index: 300;
    left: 50%;
    margin-left: -5px;
    top: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.thread_answer {
    cursor: pointer;
    color: black;
}

.link-reply-thread {
    color: orange;
    cursor: pointer;
}

.form-fixed {
    position: fixed;
    display: none;
    padding: 2px;
    z-index: 980;
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    top: 10%;
    left: 60%;
}

#form-fixed-close {
    cursor: pointer;
    float: right;
}

.form-fixed-header {
    background-color: #adadad;
    padding: 2px;
    margin-bottom: 1px;
    cursor: move;
    font-size: 14px;
    text-align: center;
    border: 1px solid #7a7A7A;
}

.thread-nav {
    padding-left: 15px;
}