{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/bootstrap.css' %}">
    <script src="{% static 'static/jQuery/jquery-3.1.1.js' %}"></script>
    <link rel="stylesheet" href="{% static 'static/lightbox/css/lightbox.css' %}">
    <script src="{% static 'static/lightbox/js/lightbox.js' %}"></script>
    <link rel="stylesheet" href="{% static 'static/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
    <script src="{% static 'static/jquery-ui-1.12.1.custom/external/jquery/jquery.js' %}"></script>
    <script src="{% static 'static/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
    <script src="{% static 'static/js/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/main.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
    <script type="text/template" id="template-thread">
        <div class="container container_board_index">
        <span>
            <% if (data[i].fields.thread_tittle != '') %> <b> <%= data[i].fields.thread_tittle %> </b>
            Аноним <%= data[i].fields.thread_time %>  <a class="thread_answer" data-num="<%= data[i].pk %>">№<%= data[i].pk %></a>
            [ <a href="/{{ name_board }}/res/<%= data[i].pk %>.html" class="link_color_all">Ответ</a> ]
        </span><br>
        <% if (data[i].fields.thread_image != '') { %>
            <div class="container container_tittle_thread">
                <a href="/upload/<%= data[i].fields.thread_image %>" class="link_color_img"> <%= data[i].fields.thread_image %></a>
            </div>
            <a data-lightbox="image-1" href="/upload/<%= data[i].fields.thread_image %>">
                <img src="/upload/<%= data[i].fields.thread_image %>" width="16%" height="16%" align="left"/>
            </a>
        <% } %>
        <p><%= data[i].fields.thread_text %></p>
        <hr class="board">
        </div>
    </script>
    <script type="text/template" id="template-comment">
        <div class="container container_comments_index">
            <div class="container_comments">
                <span>
                    <% if (data[y].fields.comments_tittle != '') %> <b> <%= data[y].fields.comments_tittle %> </b>
                    Аноним <% if (data[y].fields.comments_op != '') %> <%= data[y].fields.comments_op %>
                    <%= data[y].fields.comments_time %> <a class="reply" data-num="<%= data[y].pk %>">№<%= data[y].pk %></a>
                </span><br>
                <% if (data[y].fields.comments_image != '') { %>
                        <div class="container container_tittle_thread">
                            <a href="/upload/<%= data[y].fields.comments_image %>" class="link_color_img"><%= data[y].fields.comments_image %></a>
                        </div>
                        <a data-lightbox="image-1" href="/upload/<%= data[y].fields.comments_image %>">
                            <img src="/upload/<%= data[y].fields.comments_image %>" width="16%" height="16%" align="left">
                        </a>
                <% } %>
                <blockquote><%= data[y].fields.comments_text %></blockquote>
                <% if (data[y].fields.comments_answers != '') { %>
                <span>Ответы: <% for (var i = 0; i < answers.length; i++) { %>
                    <a class="link-reply" data-num="<%= answers[i] %>">>><%= answers[i] %></a>
                <% }; %></span>
                <% }; %>
            </div>
        </div>
    </script>
    <script type="text/template" id="template-tooltip-comment">
            <div class="tooltip container_comments" id="tooltip_comment<%= data[0].pk %>" style="left: <%= left_comment %>px; top: <%= top_comment %>px; opacity: 1">
                <span>
                    <% if (data[0].fields.comments_tittle != '') %> <b> <%= data[0].fields.comments_tittle %> </b>
                    Аноним <% if (data[0].fields.comments_op != '') %> <%= data[0].fields.comments_op %>
                    <%= data[0].fields.comments_time %> <a class="reply" data-num="<%= data[0].pk %>">№<%= data[0].pk %></a>
                </span><br>
                <% if (data[0].fields.comments_image != '') { %>
                    <div class="container container_tittle_thread">
                        <a href="/upload/<%= data[0].fields.comments_image %>" class="link_color_img"><%= data[0].fields.comments_image %></a>
                    </div>
                    <a data-lightbox="image-1" href="/upload/<%= data[0].fields.comments_image %>">
                        <img src="/upload/<%= data[0].fields.comments_image %>" width="16%" height="16%" align="left">
                    </a>
                <% } %>
                <blockquote><%= data[0].fields.comments_text.replace( /\n/g, "<br />") %></blockquote>
                <% if (data[0].fields.comments_answers != '') { %>
                    <span>Ответы: <% for (var i = 0; i < answers.length; i++) { %> <a class="link-reply" data-num="<%= answers[i] %>">>><%= answers[i] %></a><% }; %></span>
                <% }; %>
            </div>
        </script>
        <script type="text/template" id="template-tooltip-thread">
                <div class="tooltip container_thread_tooltip" id="tooltip_thread<%= data[0].pk %>" style="left: <%= left_thread %>px; top: <%= top_thread %>px; opacity: 1">
                    <span>
                        <% if (data[0].fields.thread_tittle != '') %> <b> <%= data[0].fields.thread_tittle %> </b>
                        Аноним
                        <%= data[0].fields.thread_time %> <a class="thread_answer" data-num="<%= data[0].pk %>">№<%= data[0].pk %></a>
                    </span><br>
                    <% if (data[0].fields.thread_image != '') { %>
                            <div class="container container_tittle_thread">
                                <a href="/upload/<%= data[0].fields.thread_image %>" class="link_color_img"><%= data[0].fields.thread_image %></a>
                            </div>
                            <a data-lightbox="image-1" href="/upload/<%= data[0].fields.thread_image %>">
                                <img src="/upload/<%= data[0].fields.thread_image %>" width="16%" height="16%" align="left">
                            </a>
                    <% } %>
                    <blockquote><%=  data[0].fields.thread_text.replace( /\n/g, "<br />")  %></blockquote>
                    <% if (data[0].fields.thread_answers != '') { %>
                    <span>Ответы: <% for (var i = 0; i < answers.length; i++) { %> <a class="link-reply" data-num="<%= answers[i] %>">>><%= answers[i] %></a><% }; %></span>
                    <% }; %>
                </div>
        </script>
</head>
<body>
    {% block menu %}
    <div class="navbar navbar-inverse">
        <div class="container container_navbar">
            <a class="menu" href="{% url 'contacts' %}">Контакты</a>
        </div>
    </div>
    <hr class="index">
    {% endblock %}
    {% block index %}{% endblock %}
    {% block contacts %}{% endblock %}
    {% block board %}{% endblock %}
    {% block thread %}{% endblock %}
</body>
</html>