{% extends 'main.html' %}
{% load board_tag %}
    {% block menu %}
    <div class="navbar navbar-inverse">
        <div class="container container_navbar">
            <a class="menu" href="{% url 'index' %}">Главная</a>
            <a class="menu" href="{% url 'contacts' %}">Контакты</a>
        </div>
    </div>
    <hr class="index">
    {% endblock %}
    {% block board %}
    <div class="board_center_text">
        <h1><a class="mainlogo link_color_all" href="{% url 'board' name_board %}">{{ board.board_name }}</a></h1>
    </div>
    <hr>
    <div class="board_center_text">
        [ <a class="link_color_all" id="js_thr_1">Создать тред</a> ]
    </div>
    <div class="container container-form_1">
    <hr>
        <form enctype="multipart/form-data" method="post" action="{% url 'AddThread' name_board %}" class="container-js_1">
            {% csrf_token %}
            <table>
                {% for x in form %}
                <tr>
                    <td>{% cycle 'Имя треда' 'Текст' 'Файл' %}</td>
                    <td>{{ x }} {% cycle '<input type="submit" class="button" value="Отправить">' '' '' %}</td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
    <div class="dynamic1">
    {% add_comments_context %}
    {% for thread in threads %}
    <div class="container container_board_index">
        <span> {% if thread.thread_tittle %}<b>{{ thread.thread_tittle }}</b>{% endif %}
            Аноним {{ thread.thread_time }} <a class="thread_answer" data-num="{{ thread.id }}">№{{ thread.id }}</a>
            [ <a href="" class="link_color_all">Ответ</a> ]
        </span><br>
        {% if thread.thread_image %}
            <div class="container container_tittle_thread">
                <a href="{{ thread.thread_image.url }}" class="link_color_img"> {{ thread.thread_image }}</a>
            </div>
            <a data-lightbox="image-1" href="{{ thread.thread_image.url }}">
                <img src="{{ thread.thread_image.url }}" width="16%" height="16%" align="left"/>
            </a>
        {% endif %}
        <p>{{ thread.thread_text }}</p>
        {% if thread.thread_answers %}
            <span><i>Ответы:</i>
                {% for answer in thread.thread_answers|make_mylist %}
                    <a class="link-reply" data-num="{{ answer }}">>>{{ answer }} </a>
                {% endfor %}
            </span>
        {% endif %}
    </div>
        {% for comment in comments %}
            {% for x in comment %}
                {% if thread.id == x.thread_id %}
                    <div class="container container_comments_index">
                        <div class="container_comments">
                            <span> {% if x.comments_tittle %}<b>{{ x.comments_tittle }}</b>{% endif %} Аноним
                                {% if x.comments_op %}{{ x.comments_op }}{% endif %}
                                {{ x.comments_time }} <a class="reply" data-num="{{ x.id }}">№{{ x.id }}</a>
                            </span><br>
                            {% if x.comments_image %}
                                <div class="container container_tittle_thread">
                                    <a href="{{ x.comments_image.url }}" class="link_color_img">{{ x.comments_image }}</a>
                                </div>
                                <a data-lightbox="image-1" href="{{ x.comments_image.url }}">
                                    <img src="{{ x.comments_image.url }}" width="16%" height="16%" align="left">
                                </a>
                            {% endif %}
                            <blockquote>{{ x.comments_text|safe|linebreaksbr }}</blockquote>
                        {% if x.comments_answers %}
                            <span><i>Ответы: </i>
                                {% for answer in x.comments_answers|make_mylist %}
                                    <a class="link-reply" data-num="{{ answer }}">>>{{ answer }} </a>
                                {% endfor %}
                            </span>
                        {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <hr class="comments">
    {% endfor %}
    </div>
    <div class="board_center_text">
        [ <a class="link_color_all" id="js_thr_2">Создать тред</a> ]
    </div>
    <div class="container container-form_2">
    <hr>
        <form enctype="multipart/form-data" method="post" action="{% url 'AddThread' name_board %}" class="container-js_2">
            {% csrf_token %}
            <table>
                {% for x in form %}
                <tr>
                    <td>{% cycle 'Имя треда' 'Текст' 'Файл' %}</td>
                    <td>{{ x }} {% cycle '<input type="submit" class="button" value="Отправить">' '' '' %}</td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
    <div class="form-fixed">
        <div class="form-fixed-header">
            Ответить в тред
            <span id="form-fixed-close">X</span>
        </div>
        <form enctype="multipart/form-data" method="post" action="" class="container-js_3">
            {% csrf_token %}
            <table>
                {% for x in form %}
                <tr>
                    <td>{{ x }} {% cycle '<input type="submit" class="button" value="Отправить">' '' '' %}</td>
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
{% endblock %}